<%= javascript_include_tag 'location' %>
<div class="">
  <h1>getLocation</h1>
</div>


<p id="demo"></p>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHwiQbOY5M-bsvr-Dk2g2r1IUVFuDvsao"
 type="text/javascript"></script>
