<%= javascript_include_tag 'location' %>
<style>
     #map {
       height: 400px;
       width: 100%;
      }
   </style>

<p id="demo"></p>

<div class="ans">
  Your place to eat today here is.  Hmmmmmm.
  <p id="name"></p>
  <p id="address"></p>
  <p id="rating"></p>
  <div id="map" class="">

  </div>
</div>

<div class="jumbotron">
  <div class="text-center">
    <h1>Find your location automatically cannot.  Enter manually. </h1>
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <form class="" onsubmit="return false">
          <input class="form-control" id="input_val" type="text" name="location_name" required>
          <input class="btn btn-success mt-1" type="submit" name="button" onclick="get_nearby_place()">
        </form>
      </div>
    </div>
  </div>
</div>
