<%= javascript_include_tag 'location' %>

<p id="demo"></p>

<div class="jumbotron">
  <div class="text-center">
    <h1>Find your location automatically cannot.  Enter manually. </h1>
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <form class="" onsubmit="return false">
          <input class="form-control" id="input_val" type="text" name="location_name" required>
          <input class="btn btn-success mt-1" type="submit" name="button" onclick="get_nearby_place()">
        </form>
      </div>
    </div>
  </div>
</div>
