<%= javascript_include_tag 'location' %>
<div class="">
  <h1>getLocation</h1>
</div>


<p id="demo"></p>

<div class="form">
  <form class="" onsubmit="return false">
    <input id="input_val" type="text" name="location_name" required>
    <input type="submit" name="button" onclick="get_nearby_place()">
  </form>
</div>
