<%= javascript_include_tag 'location' %>
<script
src="https://maps.googleapis.com/maps/api/js?key=<%= @google_maps_api_key %>">
</script>
<style>
     #map {
       height: 400px;
       width: 100%;
      }
   </style>
<div id="demo_div" class="jumbotron bg-dark text-white" style="display: none">
  <div id="demo" class="d-flex justify-content-center">
    <h1 class="text-success">Enter valid address.  Herh herh herh.</h1>
  </div>
</div>
<div id="ans" class="jumbotron bg-dark text-white" style="display: none">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <h1 class="text-success">Your place to eat today here is.  Hmmmmmm.</h1>
      <h3 id="name" class="text-success"></h3>
      <h3 id="address" class="text-success"></h3>
      <h3 id="rating" class="text-success"></h3>
      <div id="map" class="">
      </div>
      <div class="text-success mt-2">
        <%= image_tag "yoda-1.png", size: "30" %>
        My idea change it if you like not.
      </div>
    </div>
  </div>
</div>

<div class="jumbotron bg-dark text-white">
  <div class="text-center">
    <h1 id="form_header" class="text-success">Find your location automatically cannot.  Enter manually. </h1>
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <form class="" onsubmit="return false">
          <input class="form-control" id="input_val" type="text" name="location_name" required>
          <input class="btn btn-success mt-1" type="submit" name="button" onclick="get_nearby_place()">
        </form>
      </div>
    </div>
  </div>
</div>
