<nav class="navbar fixed-top navbar-dark bg-dark d-flex justify-content-center mb-2">
  <div class="text-success">
    <%= image_tag("yoda-1.png", size: "30")%>
    Tell you about your lunch place for today, will I.  Yeesssssss.
  </div>
</nav>
